* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #020e26;
}

i {
    font-family: sans-serif;
    font-size: 2.4rem;
}

.custom-shape-divider-top-1669269902 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1669269902 svg {
    position: relative;
    display: block;
    width: calc(184% + 1.3px);
    height: 146px;
}

.custom-shape-divider-top-1669269902 .shape-fill {
    fill: #0ebde9;
}

.containercarrousel {
    position: relative;
    width: 320px;
    margin: 100px auto 0 auto;
    perspective: 1000px;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
}

.image {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
}

span {
    margin: auto;
    font-size: 2rem;
    color: #fff;
}

.image:nth-child(1) {
    background-image: url("image.jpg");
    transform: rotateY( 0deg) translateZ(430px);
}

.image:nth-child(2) {
    background-image: url("image.jpg");
    transform: rotateY( 40deg) translateZ(430px);
}

.image:nth-child(3) {
    background-image: url("image.jpg");
    transform: rotateY( 80deg) translateZ(430px);
}

.image:nth-child(4) {
    background-image: url("image.jpg");
    transform: rotateY(120deg) translateZ(430px);
}

.image:nth-child(5) {
    background-image: url("image.jpg");
    transform: rotateY(160deg) translateZ(430px);
}

.image:nth-child(6) {
    background-image: url("image.jpg");
    transform: rotateY(200deg) translateZ(430px);
}

.image:nth-child(7) {
    background-image: url("image.jpg");
    transform: rotateY(240deg) translateZ(430px);
}

.image:nth-child(8) {
    background-image: url("image.jpg");
    transform: rotateY(280deg) translateZ(430px);
}

.image:nth-child(9) {
    background-image: url("image.jpg");
    transform: rotateY(320deg) translateZ(430px);
}

@keyframes rotate360 {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-360deg);
    }
}

.space{
    margin-top: 10px;
    margin-bottom: 10px;
}

.space2{
    margin-top: 200px;
    margin-bottom: 200px;
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    perspective: 90rem;
    perspective-origin: 30% 60%;
}
  
.div-transform {
    display: flex;
    transform: rotateZ(-3deg);
}
  
.card {
    background: url("image.jpg") center;
    color: #ffffff;
    border-radius: 8px;
    padding: 0px 18px;
    width: 244px;
    transition: 0.5s ease;
    overflow: hidden;
    transform: translate(0);
}
  
.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}
  
.card h2 {
    text-transform: capitalize;
}
  
.card h4 {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 48px;
}
  
.card-1 {
    background-size: cover;
    transform: scale(1.02);
    margin-right: 40px;
}
  
.card-1:hover {
    transform: scale(1.11);
    box-shadow: -7px 4px 28px -3px #b527cf;
}
  
.card-1::before {
    background: linear-gradient(90deg, #b527cf 0%, #3546f0 100%);
}
  
.card-2 {
    background-size: cover;
    transform: scale(1.01);
    margin-right: 31px;
}
  
.card-2:hover {
    transform: scale(1.1);
    box-shadow: -7px 4px 28px -3px #3bd9d9;
}
  
.card-2::before {
    background: linear-gradient(90deg, #3bd9d9 0%, #8035f0 100%);
}
  
.card-3 {
    background-size: cover;
}
  
.card-3:hover {
    transform: scale(1.08);
    box-shadow: -7px 4px 28px -3px #ff9500;
}
  
.card-3::before {
    background: linear-gradient(90deg, #ff9500 0%, #d5cb0f 100%);
}

.footer {
    font-family: sans-serif;
    padding-block: 5rem;
    background-color: #151823;
    color: #666873;
}

.footer__container {
    max-width: 116rem;
    margin: auto;
    padding: 0 1.5rem;
    overflow: auto;
    resize: horizontal;
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
}

.footer__title {
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2rem;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer__list-item {
    list-style: none;
}

.footer__list-link {
    text-decoration: none;
    color: inherit;
    transition: color .25s;
}

.footer__list-link:hover {
    color: #fff;
}

.footer__divider {
    margin-block: 2.5rem;
    border: none;
    border-top: 1px solid rgba(252, 255, 255, .1);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer__bottom .footer__list {
    flex-direction: row;
}